<section id="new-friend">
  <%= form_with url: 'new_friend', local: true do |form| %>
    <%= form.label :friend %>
    <%= form.text_field :friend %>
    <%= form.submit "Make Friend" %>
  <% end %>
</section>
