<div class='test' id='username'>
  <h1><%= "Welcome #{@user.username}" %></h1>
</div>

<div class='test' id='discover-movies'>
  <h1><%= button_to 'Discover New Movies' %></h1>
</div>

<div class='test' id='friends'>
  <h1>Friends</h1>
</div>

<div class='test' id='viewing-party'>
  <h1>Viewing Parties</h1>
</div>
