<h3>Search Movies</h3>
  <section id="movie-search">
    <ol>
    <% @movies.each do |movie| %>
        <div id="movie-search-item-<%= movie.id %>">
          <li><%= link_to "#{movie.name}", details_path(id: movie.id) %>  Vote Count: <%= movie.vote_count %></li>
        </div>
    <% end %>
    </ol>
  </section>
