<h3>Top 40 Movies</h3>

<section id="top-40-movies">
  <ol>
  <% @movies.each do |movie| %>
      <div id="top-movie-<%= movie.id %>">
        <li><%= link_to "#{movie.name}", details_path(id: movie.id) %>  Vote Count: <%= movie.vote_count %></li>
      </div>
  <% end %>
  </ol>
</section>
