<section id="new-friend">
  <%= form_with url: friends_path, local: true do |form| %>
    <%= form.text_field :friend, placeholder: "name@example.com" %>
    <%= form.submit "Add Friend" %>
  <% end %>
</section>
