<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <br/>
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
          

            <i class="fas fa-gem me-3"></i>Viewing Party
          </h6>
          <p>
            This was a project created by Ryan and Ozzie to help people schedule their movie viewing parties with their friends.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <br/>

          <h6 class="text-uppercase fw-bold mb-4">
            Ozzie Osmonson
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/ozzie-osmonson/" class="text-reset">Ozzie's LinkedIn</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/ryan-teske-2021/" class="text-reset">Ryan's LinkedIn</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->
        <br/>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <br/>
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Ryan Teske
          </h6>
          <p>
            <a href="https://github.com/ozzman84/viewing_party" class="text-reset">GitHub</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->
        <br/>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <br/>
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Denver, CO/ Reno, NV</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mikeosmonson@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>Ozzie (480) 268-6225</p>
          <p><i class="fas fa-print me-3"></i>Ryan (555) 555-5555</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="The MovieDB Logo" width="75px" style="margin:10px" >
    Thank you to <a href="https://www.themoviedb.org/about/logos-attribution">The MovieDB</a> for providing the movie data that is used in this application.
    Further citation information regarding the movie data used in this project can be found <a href="http://files.grouplens.org/datasets/movielens/ml-latest-small-README.html">here.</a>

    <a class="text-reset fw-bold"</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
