<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-black">
  <span class="navbar-brand" style="padding-left: 15px; padding-right: 15px">
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if !current_user.nil? %>
          <a class="nav-link" href="/dashboard">Viewing Party<span class="sr-only"></span></a>
        <% end %>
      </li>
      <li class="nav-item active" id='discover-movies'>
        <% if !current_user.nil? %>
          <a class="nav-link" <%= link_to 'Discover New Movies', movies_path %><span class="sr-only"></span></a>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-right-end">
      <li class="nav-item">
        <% if !current_user.nil? %>
          <a class="nav-link" <%= link_to "Log Out", sign_out_path, remote: true %><span class="sr-only"></span></a>
        <% end %>
      </li>
    </ul>
  </div>
</nav><br>
