<h1><%= "#{@movie.name} Viewing Party" %></h1>

<div class='container' id='viewing-party-form'>
  <%= render(partial: "shared/new_event_form", locals: { event: @event, movie: @movie, friends: @friends }) %>
</div>
