---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 15 Oct 2021 06:27:33 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie//credits?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - fe26fec78d25d9c6f536da31e17e11bd1c37e315
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15547'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 15 Oct 2021 06:27:33 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie//reviews?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - '0790e0948e4ede3a2eef9d9201058f2bd1d2fe3e'
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17199'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 15 Oct 2021 06:27:34 GMT
recorded_with: VCR 6.0.0
